<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}">  
  <link rel="stylesheet" href="{{url_for('static', filename='css/buttons.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/buttons.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/select.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/rowReorder.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/dataTables.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/fixedHeader.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <!--link rel="stylesheet" href="{{url_for('static', filename='css/list_album.css')}}"-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/c3.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.css')}}">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://
    -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
   
  </style>
</head>
<body style="background-color:#e9e9e9;">
  <nav class="navbar navbar-inverse navbar-fixed-top; margin-bottom: 60px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Stop-motion Animation</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/album/1">Movie Data</a></li>
          <li class="active"><a href="/dashboard">Dashboard</a></li>
          <li><a href="/list_album">CRUD</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="content-page">
          <br><br><br>
          <div class="container">
                        <div class="row cpanel" >{% for row in dataset  %}
                          <div class="col-md-3">
                            <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h3 class="panel-title">{{ row["category"] }}</h3>
                              </div><!--end panel heading-->
                              <div class="panel-body">
                                <div class="col-xs-6 col-md-6">
                                  <i class="{{ row["average_rating"]}}" style="color:black"></i>
                                </div><!--end column-->
                                <div class="col-xs-6 col-md-6">
                                  <h1 class="text-center" style="color: grey;">{{ row["amount"] }}</h1>
                                </div><!--end column-->
                              </div><!--end panel body-->
                            </div><!--end panel primary-->
                          </div><!--end panel col-->
                          {% endfor %}
                        </div><!--end row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="chart"></div>
                            </div>
                            <div class="col-sm-6">
                                <div id="chart2"></div>
                            </div>
                        </div><!--end row-->
                        <div class="seperator"></div>
                        <div class="row">
                            <div class="col-sm-12">
                              <table id="myTable" class="table table-striped table-bordered display nowrap responsive dtr-inline collapsed" style="width:100%;">
                                  <thead>
                                      <tr>
                                          <th>Category</th>
                                          <th>Amount</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for row in dataset  %}
                                      <tr>
                                          <td>{{ row["category"] }}</td>
                                          <td>{{ row["amount"] }}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                           
                        </div><!--end row-->
                    </div><!--end container-->
        </div><!--container-fluid-->
    </div>
    <div class="container">
    <div class="footer" style="position: fixed;left: 0;right:0;bottom:0;width: 100%;background-color:#202020; color:white;text-align: center;">
        <p><br>2020&copy; xxzhu_CUHK student project</p>
    </div>
    </div>
    <!-- /#page-content-wrapper -->
<!-- /#wrapper -->
<script src="{{url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap-3.3.7.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.select.min.js')}}"></script>   
<script src="{{url_for('static', filename='js/dataTables.responsive.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/dataTables.fixedHeader.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/responsive.bootstrap.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
<!--script src="{{url_for('static', filename='js/list_album.js')}}"></script-->
<script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/c3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='js/leaflet.markercluster.js')}}"></script> 
<script src="{{url_for('static', filename='js/TileLayer.Grayscale.js')}}"></script>
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                        e.preventDefault();
                        $("#wrapper").toggleClass("toggled");
                    });
        </script>
        <script>
            $.extend( $.fn.dataTable.FixedHeader, {
                      responsive: true
                  } );
            $(document).ready(function(){
              var chart = c3.generate({
                          data: {
                              columns:
                              [{% for name,entry in entries %}
                                          ['{{name}}',{{entry}}],
                                        {% endfor %}
                              ],
                             type : 'bar',
                             labels:true,
                             colors: {
                                radio: '#7FB3D5',
                                computer: '#5499C7',
                                tv: '#2980B9',
                                tablet: '#2471A3'
                                }
                           },
                          bar: {
                              title: "Movie by Category:",
                              width: {
                                ratio: 0.5 // this makes bar width 50% of length between ticks
                              }
                          },
                          tooltip: {
                              show: false,
                          },
                          axis: {
                            x: {
                                label: 'Categories',
                                type: 'category',
                                categories:['','','','']
                               },
                            y: {label: '# of Amount'}
                          }
                      }); // end c3.generate

                var chart = c3.generate({
                    data: {
                        columns: [{% for name2,entry2 in entries2 %}
                                          ['{{name2}}',{{entry2}}/{{total}}],
                                        {% endfor %}
                              ],
                        type : 'donut',
                        colors: {
                           radio: '#7FB3D5',
                           computer: '#5499C7',
                           tv: '#2980B9',
                           tablet: '#2471A3'
                           }
                    },
                    donut: {
                        title: "Movie Distribution",
                    },
                    bindto: '#chart2'
                });

                var table = $('#myTable').DataTable( {
                    responsive: true,
                  });

                table.on( 'select deselect', function () {
                      var selectedRows = table.rows( { selected: true } ).count();

                      table.button( 0 ).enable( selectedRows === 1 );
                      table.button( 1 ).enable( selectedRows > 0 );
                } );
            }); // end document ready
 </script>
</body>
</html>
