{% extends "base.html" %}
{% block content %}

   <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid" id="content-page">
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="static/img/header.jpg" style="width: 100%;height: 100%;">
                            <div class="carousel-caption">
                            <h1>Do You Like Stop-motion Animation?<br></h1>
                            <p>For anyone who interested in Stop-motion animation!<br>Find your favorite and make your own!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br>
                            <h3>TOP 10</h3>
                            <p>Find your next movie and explore new interest.</p>
                        </div>
                    </div>
                    <div class="row">
                     <div class="col-md-12 text-center">
                       <div class="embed-responsive embed-responsive-16by9">
                         <iframe class="airtable-embed" src="https://airtable.com/embed/shrDhp2nFlRVzyr8j?backgroundColor=yellow"
                         frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
                       </div>
                         <br>
                            <center><a href="/album" type="button" class="btn btn-default">More Data</a></center>
                     </div>
                   </div><!--end row-->
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>

{% endblock %}