{% extends "base.html" %}
{% block content %}

  {% for movie in movies.items %}
       {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="thumbnail text-center" >
              <img src="{{ movie.img_url}}" alt="180x100%" style="height: 180px;width: 100%;display: block;">
              <p>Movie:{{ movie.movie }}<br>Year:{{ movie.year }}<br>Runtime:{{ movie.runtime }}<br>Category:{{ movie.category1 }}<br>Rate:{{ movie.rate }}</p>
          </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
  {% endfor %}
  <div class="container" style="float: left;">
  {% for page in movies.iter_pages() %}  
    {% if page %}
        <a href="{{url_for('album')}}/{{ page }}">{{ page }}</a>
    {% else %}
        ...
    {% endif %}
  {% endfor %}  
  </div>
{% endblock %}