{% extends "base.html" %}
{% block content %}

   {% for item in dataset %}
        {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="thumbnail text-center" >
              <img src="{{ item['img_url'] }}" alt="180x100%" style="height: 180px;width: 100%;display: block;">
              <br>
              <p><strong> {{ item['movie'] }}&nbsp;({{ item['year'] }})<br>{{ item['category1'] }}<br>Rate:&nbsp;{{ item['rate'] }}</strong></p>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
          </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
      {% endfor %} 

{% endblock %}